<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <title>DAD BOD DESTROYER STACK | Alpha Lion</title>
        <!-- Begin: Northbeam pixel -->
        <script async type="text/javascript" src="//j.northbeam.io/ota-sp/f840296f-82c9-4863-8fbe-b6aa05261f4f.js"></script>
        <!-- End: Northbeam pixel -->


        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3KG50P4NM"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-Y3KG50P4NM');
        </script>


        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="content-language" content="en">
        <link rel="profile" href="https://gmpg.org/xfn/11">
        <link rel="prefetch" href="{{ site.theme.link }}/dist/css/slick.woff" as="font" type="font/woff" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://www.google-analytics.com">
        <link rel="preconnect" href="https://www.googletagmanager.com">
        <link rel="preconnect" href="https://connect.facebook.net">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="msapplication-TileColor" content="#9f00a7">
        <meta name="theme-color" content="#ffffff">
        {{wp_head()}}
    </head>
    <body class="{{ body_class }}">
        <!-- incluimos nuestro template del header --> 
        {% include 'layout/header.twig' %}
        <main>
            <!-- incluimos el contenido que nosotros le especifiquemos --> 
            {% block content %}
                Sorry, no content
            {% endblock %}
        </main>
        <!-- incluimos nuestro footer -->
        {% include 'layout/footer.twig' %}
        {{wp_footer()}}
        <!-- Stamped - Begin Script-->
        <script type="text/javascript" src="https://cdn1.stamped.io/files/widget.min.js"></script>
        <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (e) => {
        StampedFn.init({ apiKey: 'pubkey-ZeF1a5R1SJ4eD9K62ol38h837vcKr6', storeUrl: 'alphalion-staging.myshopify.com' });
        });</script>
        <!-- Stamped - End Script -->
    </body>
</html>