<div class="finish-order">
    <div class="box-reserved">
        <p>Your Order is reserved for: <span id="time" class="count"></span></p>
    </div>
    <p class="text-lg-center"><span class="text-red">Yes!</span> I'm ready to Burn Fat, Build Muscle, Look & Feel Great</p>
    <div class="current-availability">
        <p class="title-current">CURRENT AVAILABILITY</p>
        <div class="progress">
            <div class="bar" style="width:35%">
            </div>
        </div>
        <span class="state">LOW</span>
        <div class="risk ms-auto">
            <p>Sell Out Risk: <span>HIGH</span></p>
        </div>
    </div>
    <p class="title-shipping text-center"><span>Shipping is Free!</span><br> Enjoy Fast Shipping.</p>
</div>