<div class="content-proms">
    <img class="d-none d-lg-block" src="{{ site.theme.link }}/dist/images/global/image-1.jpg" alt="images proms">
    <img class="d-block d-lg-none" src="{{ site.theme.link }}/dist/images/global/image-1mb.jpg" alt="images proms">
    <img class="d-none d-lg-block" src="{{ site.theme.link }}/dist/images/global/image-2.png" alt="images proms">
    <img class="d-block d-lg-none" src="{{ site.theme.link }}/dist/images/global/image-2mb.jpg" alt="images proms">

</div>
